* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  background-color: rgb(216, 216, 218);
}

.header {
  display: block;
  width: 80%;
  max-width: 1000px;
  height: 100px;
  margin: 20px auto;
  position: relative;
  padding-bottom: 10px;
}

.header h1 {
  font-family: "Times New Roman", Times, serif;
  color: black;
  font-weight: 520;
  font-size: 58px;
  padding-bottom: 10px;
}

.header h2 {
  font-size: 26px;
  font-family: "Times New Roman", Times, serif;
  color: gray;
  font-weight: 500;
  padding-right: 5px;
}

.header img {
  max-width: 170px;
  height: auto;
  float: right;
  padding-top: 10px;
  padding-left: 10px;
}

.navbar {
  position: relative;
  margin: 20px auto;
  position: relative;

  width: 80%;
  max-width: 1000px;
  height: 40px;
}

.nav a {
  display: table;
  float: left;
}

.nav a li {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: darkslateblue;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  padding-right: 20px;
  padding-top: 10px;
}

.bio {
  position: relative;
  margin: 20px auto;
  width: 80%;
  max-width: 1000px;
  min-height: 540px;
  height: 50%;
  border: 1px solid gray;
  background-color: whitesmoke;
}
.bio_box {
  width: 65%;
  height: 480px;
  float: left;
  background-color: whitesmoke;
}

.bio_box h1 {
  color: brown;
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
  font-weight: 400;
  padding-left: 40px;
  padding-top: 50px;
  padding-bottom: 10px;
  background-color: whitesmoke;
}

.bio_box p {
  color: #101010;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding-left: 40px;
  padding-top: 10px;
  line-height: 30px;
  background-color: whitesmoke;
}

.bio_box p a {
  color: cornflowerblue;
  background-color: whitesmoke;
  text-decoration: underline;
}

.bio_photo img {
  max-width: 25%;
  height: auto;
  float: right;
  padding-top: 10px;
  padding-right: 40px;
  padding-top: 30px;
  background-color: whitesmoke;
}

.footer_text {
  width: 80%;
  max-width: 1000px;
  height: 100px;
  margin: 20px auto;
  position: relative;
}

.footer_text h3 {
  font-size: 16px;
  color: rgb(139, 136, 136);
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.footer_text img {
  max-width: 100px;
  height: auto;
}

/* Experience Page Section */

.experience {
  position: relative;
  margin: 20px auto;
  position: relative;
  width: 80%;
  max-width: 1000px;
  height: auto;
  height: auto;
  border: 1px solid gray;
  background-color: whitesmoke;
}

.experience_box h1 {
  color: brown;
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
  font-weight: 400;
  padding-left: 40px;
  padding-top: 30px;
  padding-bottom: 10px;
  background-color: whitesmoke;
}

.exp_nav {
  background-color: whitesmoke;
}
.experience_box ul {
  display: table;
  float: left;
  padding-left: 45px;
  padding-top: 5px;
}
.experience_box a {
  background-color: whitesmoke;
}

.experience_box li {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: dark rgb(99, 18, 18);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  padding-right: 30px;
  background-color: whitesmoke;
}

.exp {
  padding-left: 6%;
  background-color: whitesmoke;
  padding-bottom: 20%;
}

.fbi {
  display: flex;
  width: 90%;
  justify-content: center;
  padding-top: 10px;
  background-color: whitesmoke;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
  padding-right: 4px;
}

.text h2 {
  padding-bottom: 4px;
  background-color: whitesmoke;
}

.text h3 {
  padding-bottom: 4px;
  background-color: whitesmoke;
}

.text h4 {
  padding-bottom: 6px;
  background-color: whitesmoke;
  font-size: 16px;
}
.text h5 {
  background-color: whitesmoke;
}

.text p {
  background-color: whitesmoke;
  font-size: 14px;
}
.text a {
  background-color: whitesmoke;
}

.tools {
  margin-left: 20px;
  display: list-item;
}
.tools li {
  list-style-type: circle;
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding-bottom: 2px;
}

.image {
  background-color: whitesmoke;
}

.fbi img {
  max-width: 250px;
  height: auto;
  background-color: whitesmoke;
  padding-top: 30px;
  margin-top: 10px;
}

.rpi_research {
  display: flexbox;
  max-width: 90%;
}

.rpi_research img {
  max-width: 400px;
  height: auto;
  background-color: #ab2328;
  padding: 10px 10px 10px 10px;
  border: 2px solid #010101;
  float: right;
  margin-top: 20px;
}

.cs_mentor {
  display: flexbox;
  max-width: 90%;
}

.cs_mentor img {
  max-width: 300px;
  height: auto;
  background-color: #ab2328;
  padding: 10px 10px 10px 10px;
  border: 2px solid #010101;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}

.hackrpi {
  display: flexbox;
  max-width: 90%;
}

.hackrpi img {
  max-width: 250px;
  height: auto;
  background-color: whitesmoke;
  padding: 10px 10px 0px 10px;
  float: right;
  margin-right: 20px;
}

/* Interest Section */

.outline_box h1 {
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
}

.outline_box h3 {
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  font-weight: 100;
}

.outline_box {
  position: relative;
  margin: 20px auto;
  width: 80%;
  max-width: 1000px;
  height: 10000;
  border: 1px solid gray;
  background-color: whitesmoke;
  padding-bottom: 100px;
}

.outline_box img {
  background-color: whitesmoke;
  padding-left: 50px;
  max-width: 500px;
  height: auto;
}

.nyc {
  display: flexbox;
  max-width: 90%;
}
.nyc .image img {
  max-width: 200px;
  height: auto;
  float: right;
  background-color: whitesmoke;
  margin-top: 20px;
  padding: 10px 10px 10px 10px;
}

.china {
  display: flexbox;
  max-width: 90%;
}
.china .image img {
  max-width: 150px;
  height: auto;
  float: right;
  background-color: whitesmoke;
  margin-top: 20px;
  padding: 10px 10px 10px 20px;
}

.running {
  display: flexbox;
  max-width: 90%;
  padding-left: 20px;
  background-color: whitesmoke;
}
.text p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.running .images img {
  height: 200px;
  width: auto;
  float: left;
  background-color: whitesmoke;
  padding: 10px 10px 10px 00px;
}

.bike {
  display: flexbox;
  max-width: 90%;
  padding-left: 20px;
  background-color: whitesmoke;
}

.bike .images img {
  height: 250px;
  width: auto;
  float: left;
  background-color: whitesmoke;
  padding: 10px 10px 10px 00px;
}

.dune {
  display: flexbox;
  max-width: 90%;
  padding-left: 20px;
  background-color: whitesmoke;
}

.dune .images img {
  height: 200px;
  width: auto;
  float: left;
  background-color: whitesmoke;
  padding: 10px 10px 10px 00px;
}
